@charset 'utf-8';
/* CSS Document */

/* reset (pc) */
body {margin: 0;}
h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p, table {margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700;}
main {display: block;}
a {color: inherit; text-decoration: inherit;}
a img {border: none;}
img {vertical-align: middle; width: 100%;}
li {list-style: none;}
address, em, i, cite {font-style: normal;}
table {border-collapse: collapse;}
table caption {overflow: hidden; width: 0; height: 0;}
i.fas, i.far, i.fab {vertical-align: middle; display: inline-block;}
i.fas span, i.far span, i.fab span {position: absolute; overflow: hidden; text-indent: -999px;}
.mobile {display: block !important;}
.pc {display: none !important;}
.hidden {position: absolute; left: -9999px;}
br.only-m {content: '';}
br.only-m:after {content: '\00a0';}



/* common */
.blind{display: none;}
img{width:100%;}
.clearfix::before,.clearfix::after{display: block; clear: both; content:"";}
.container{max-width:1200px; margin:0 auto; padding: 0 20px; width:100%; box-sizing: border-box;}


/* daylife */
.text{ width:100%; box-sizing: border-box; margin:0 auto;}
.text .logo{background: url("../img/logo.png") no-repeat center/contain; width:auto;}
.visual{display: none;}
#daylife .text{padding:50px; display: none;}



/* story   */
#story{background: url("../img/parallax_bg.jpg") no-repeat center/cover; height:380px; background-attachment: initial; color:white; 
  position: relative; margin-top:40px;}
#story .container{position: relative; height: 380px;}
#story h2{ font-size: 30px; }
#story .content{position: relative; top:50%; left:0; transform: translate(0,-50%); width:100%; height: auto; text-align: center;
  box-sizing: border-box; padding: 0 20px;}
#story p{margin-top:20px; font-size: 14px;}
#story button{width:180px; height:35px; background: transparent; color:white; margin-top:20px; border:2px solid white}


/* moment */
#moment h2{font-size: 40px; width:100%; text-align: center; padding:20px 0;}
#moment .box{margin:0 auto;}
#moment .box_left{width:100%; overflow: hidden; position: relative;}
#moment .box_left>div>p::before{content:''; display:block; position:absolute; width:193px; height: 65px; background: #000; padding: 10px 20px;
  top: 50%; left: 50%; transform: translate(-50%,-50%); background: #fff; opacity: 0.7;}
#moment .box_left>div>p{position: absolute; top:50%; left:50%; transform: translate(-50%,-50%); width: 193px;}
#moment .box_left>div>p>a{position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); width: 193px; text-align: center;}
#moment .box_left>div>p>a>span{font-weight: bold;}
#moment .box_left div img{display:block;} 
#moment .box_center{height:auto; float:left;}
#moment .box_center div{float:left; width:50%; float:left;}
#moment .box_center p{float:left; width:50%; height:180px; background:#76887F;
  color:white; text-align: center; padding-top: 50px; box-sizing: border-box; } 
#moment .box_right .cut{box-sizing: border-box;}
#moment .box_right .cut div{float: left; width:calc(100%/3)}
#moment .box_right p{background:#76887F; height:250px; color: white; text-align: center;  padding-top: 110px; box-sizing: border-box;
display: none;}


/* skincare */
#skincare{position: relative; min-height: 100vh; margin: auto; }
#skincare .visual{background: url("../img/visual03.jpg") no-repeat left/contain; background-attachment: fixed; position: absolute; top:0; left:0;
width:35%; min-height:100vh; height:100%; }
.type-left{background: url("../img/figure04.jpg") no-repeat; clear: both;  width:41vw; height: 56vw;
  background-size: 41vw 56vw; float:left;}
.type-right{background: url("../img/figure03.jpg") no-repeat;  width:41vw; height: 56vw;
  background-size: 41vw 56vw; background-position: right 0; float: right;}
#skincare .products{margin-left:0; float:left; width:100%;}
#skincare .products.product_2 .text_wrap{float:left;}
#skincare .products.product_1{margin-bottom: 30px;}
#skincare .skin_text{float:left; width:100%;}
#skincare .skin > a{display:inline-block; width:calc(100% / 2)}
.content{ padding:100px 0px; margin:0 auto}
.content h2{font-size: 40px; margin-bottom:16px;}



/* fragrance */
#fragrance{position: relative; min-height: 100vh; margin: 0 auto;}
#fragrance .fragrance_text{display: inline-block; width: 100%;}
#fragrance .visual{background: url("../img/visual02.jpg") no-repeat right/contain; width:35%; position: absolute; top:0; right:0; min-height: 100vh; height:100%;
background-attachment: fixed;}
#fragrance .type-right{background: url("../img/figure01.jpg") no-repeat; position: relative; background-size: 41vw 56vw;}
#fragrance .type-left{background: url("../img/figure02.jpg") no-repeat;  background-position: right 0; background-size: 41vw 56vw;}



/* skincare,fragrance common */
.products{position: relative; width: 100%; float:left;}
.products .text_wrap{position: absolute; right: 0; top: 50%; transform: translateY(-50%);}
.products .text_wrap .title br{display: none;}
.products.product_2 .text_wrap{left:0;}
.products .title{margin-bottom:16px; font-size: 5vw; font-weight: bold;}
.products_text > a{display: block; margin-top:5px; font-size: 13px; font-weight: bold;}
.type-left p{float:left;}
.products .skin_text{display: inline-block; width:100%; min-height:100vh; margin-left:0;}
.products .skin>a{background: #f7f7f7; float:left;}
.skin{ margin-top: 40px; padding-bottom: 40px; clear: both; display: none;}
.skin_right{ float: right; display: none;}



/* sns */
#sns{position: relative; text-align: center; max-width: 1200px;  margin:0 auto ;}
#sns .container{padding:80px 20px;}
#sns h2{font-size: 30px; font-weight: 300;}
#sns p {padding: 16px 0 54px;}
#sns  p .logo{display: inline-block; width:33px; height:33px; background: url("../img/icons.png") no-repeat center/cover; 
  background-position: -120px 0; background-size: 400px auto; vertical-align: middle; margin-right:7px;}


/* footer */
#footer{background: #F9F9F9; padding: 60px 0 40px; color:#777777}
#footer .container{max-width: 1024px; margin: 0 auto;}
#footer .logo a{display:inline-block; width:160px; height:46px; background:url("../img/foot_logo.png") no-repeat center/cover;}
#footer .link li{display: inline-block; margin-right:30px; padding:20px 0;}
#footer address{margin: 20px 0 40px;}
#footer address p span{margin-right: 20px;}
