
#header{width:100%; height:100px; box-sizing: border-box; padding: 50px;}
#menu{display: none; height:100vh; background: white; width:300px; position: fixed; top:0; left:0; z-index: 10;}
#menu.active{display: block;}
#menu{display: none;}
#menu ul{ padding:130px 50px 40px}
#menu>ul>li:hover{text-decoration: dashed;}
#menu ul li>a:hover{border-bottom:1px solid #888;}
#menu>ul>li,.products>ul>li,.submenu>li{margin-bottom: 20px;}
#search{display: none;}
.submenu{display:none; position: absolute; width:380px; top:0; left:300px; background-color: #fff; height:100vh; transition: width 2s; 
  box-sizing: border-box;}
.submenu.on{display:block;}
.products .submenu>li{padding: 0;}
.products .submenu>li>a>i{float:right;}
.submenu2{display:none; position: absolute; width:380px; top:0; left:380px; background-color: #fff; height:100vh; transition: width 2s; 
  padding: 0; padding:20px;}
.submenu li .submenu2>li{width:calc(100% / 2); float: left; padding: 15px; box-sizing: border-box;}
.submenu2.on{display:block;}
#menu ul .submenu li .submenu2{padding:0;}
.submenu li p,.submenu li .submenu2 li p{font-size: 13px; text-align: center; color:#555;}
.menubar{position: fixed; width:50px; height:50px; z-index: 100; background: transparent; border: none; cursor: pointer;}
.menubar span{display: block; position: absolute; left:0; background: #000; width:24px;  height:1px; }
.menubar span:nth-child(1){top: 7px;}
.menubar span:nth-child(2){ top: 12px; width: 20px;}
.menubar span:nth-child(3){top: 12px; width: 16px;}
.menubar span:nth-child(4){ top: 17px; width: 12px;}
.menubar span:nth-child(1).active{-webkit-transform: translateY(3px) rotate(-45deg);
transform: translatey(3px) rotate(-45deg); width: 20px;}
.menubar span:nth-child(2).active{ opacity: 0;}
.menubar span:nth-child(3).active{-webkit-transform: translateY(-3px) rotate(45deg); transform: translatey(-3px) rotate(45deg); width: 20px;}
.menubar span:nth-child(4).active{opacity: 0;}
.bg_black{height:100vh; width:100%; background:#000; opacity: 0.7; display: none; position: fixed; top: 0; left: 0; z-index: 1;}
.bg_black.active{ display: block;}